section {
  max-width: 1000px;
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 600px;
  width: 100%;
  min-height: 500px;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.yellow {
  background-color: yellow;
  max-width: 600px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.red {
  max-width: 600px;
  width: 100%;
  min-height: 100px;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(2, 1fr);
}
.slice1 {
  height: 0;
  border-bottom: 40px solid brown;
  border-right: 100px solid transparent;
}
.slice2 {
  height: 0;
  border-bottom: 40px solid brown;
  border-left: 100px solid transparent;
}
.slice3 {
  height: 0;
  border-bottom: 60px solid brown;
}
.slice4 {
  height: 0;
  border-bottom: 60px solid brown;
}
